body {
    padding: 0;
    margin: 0;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#header {
    font-size: 35px;
    background: #333;
    text-align: center;
    color: aquamarine;   
    margin-top: 200px;
    width: 100%;
}

#header:hover {
text-shadow: 0px 0px 30px aquamarine;
}